@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  .pause {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@layer base {
  body {
    @apply bg-frosty text-dark-text antialiased;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F9F9F9;
}

::-webkit-scrollbar-thumb {
  background: #c9d6c5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aab8a5;
}
